In [145]:
import pandas as pd
import os
import numpy as np

In [146]:
files = [
    r"C:/Users/PC/Documents/Water datasets/2021/2021 OTHERS.csv",
    r"C:/Users/PC/Documents/Water datasets/2021/2021 WA10 AND WA13.csv",
    r"C:/Users/PC/Documents/Water datasets/2021/2021 WA60-WA64.csv",
    r"C:/Users/PC/Documents/Water datasets/2021/2021 WA70.csv",
]

In [149]:
for f in files:
    print(f, "✅" if os.path.exists(f) else "❌ File not found")

C:/Users/PC/Documents/Water datasets/2021/2021 OTHERS.csv ✅
C:/Users/PC/Documents/Water datasets/2021/2021 WA10 AND WA13.csv ✅
C:/Users/PC/Documents/Water datasets/2021/2021 WA60-WA64.csv ✅
C:/Users/PC/Documents/Water datasets/2021/2021 WA70.csv ✅

In [150]:
dfs = [pd.read_csv(f) for f in files]

In [151]:
combined2021 = pd.concat(dfs, ignore_index=True)

In [152]:
combined2021.to_excel(r"C:/Users/PC/Documents/Water datasets/2021/combined2021.xlsx", sheet_name="Combined2021", index=False)

In [153]:
# Check the exact column names
print(combined2021.columns)

Index(['ACCOUNT_NO', 'ACCOUNT_NAME', 'UNIT_NO', 'TOWNSHIP', 'STAND_ADDRESS',
       'STREET_NO', 'METER_NO', 'METER_STATUS', 'TARIFF CODE', 'JANUARY',
       'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUGUST',
       'SEPTEMBER', 'OCTOBER', 'NOVEMBR', 'DECEMBER', 'TOTAL'],
      dtype='object')

In [154]:
new_order = [
    "ACCOUNT_NO",
    "UNIT_NO",
    "STAND_ADDRESS",
    "TOWNSHIP",
    "METER_NO",
    "METER_STATUS",
    "TARIFF CODE",
    "JANUARY",
    "FEBRUARY",
    "MARCH",
    "APRIL",
    "MAY",
    "JUNE",
    "JULY",
    "AUGUST",
    "SEPTEMBER",
    "OCTOBER",
    "NOVEMBR",
    "DECEMBER",
    "TOTAL"
]

In [155]:
# Reorder the DataFrame columns
combined2021 = combined2021[new_order]

In [156]:
# Show all duplicated meter numbers (i.e., appearing more than once)
duplicates = combined2021[combined2021.duplicated(subset=['METER_NO'], keep=False)]

In [157]:
# Sort for easier viewing
duplicates = duplicates.sort_values(by='METER_NO')

In [159]:
print(f"Total duplicated meter numbers: {duplicates['METER_NO'].nunique()}")
duplicates.head(20)

Total duplicated meter numbers: 112

,ACCOUNT_NO,UNIT_NO,STAND_ADDRESS,TOWNSHIP,METER_NO,METER_STATUS,TARIFF CODE,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBR,DECEMBER,TOTAL
38240,10602429.0,0300000000057700000000R0000,NaN,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDO...,CFHA932,ACTIVE,WA10,0.0,0.0,0.0,0.0,0.0,0.0,13.0,11.0,19.0,17.0,22.0,10.0,92.0
3237,10602429.0,0300000000057700000000R0000,NaN,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDO...,CFHA932,ACTIVE,WA12,19.0,4.0,3.0,4.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,37.0
59116,12931330.0,0100000000018200000000R0000,LAZARETT STREET,WINDHOEK/WINDHOEK BLOCKS ...,CGXA704,ACTIVE,WA10,0.0,0.0,33.0,26.0,36.0,40.0,43.0,0.0,36.0,0.0,0.0,0.0,214.0
10290,12931330.0,0100000000018200000000R0000,LAZARETT STREET,WINDHOEK/WINDHOEK BLOCKS ...,CGXA704,ACTIVE,WA12,57.0,28.0,0.0,0.0,0.0,0.0,0.0,35.0,0.0,49.0,119.0,58.0,346.0
22733,10686495.0,2.6E+26,MICHAELANGELO ST,KATUTURA ...,CMAP280,ACTIVE,WA10,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
1517,10686495.0,260000000004180000000000000,MICHAELANGELO ST,KATUTURA ...,CMAP280,ACTIVE,WA12,0.0,3.0,3.0,4.0,3.0,4.0,4.0,3.0,2.0,4.0,3.0,3.0,36.0
266,12621218.0,130000000007870000000000000,APUS ST,DORADO PARK ...,CNHM537,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,14.0,16.0,18.0,21.0,80.0
14523,12621218.0,1.3E+26,APUS ST,DORADO PARK ...,CNHM537,ACTIVE,WA10,14.0,13.0,21.0,18.0,28.0,18.0,32.0,0.0,0.0,0.0,0.0,0.0,144.0
2393,10225854.0,150000000011160000000000000,GLADIOLA ST,KHOMASDAL ...,COBY827,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,13.0,8.0,0.0,29.0,61.0
32844,10225854.0,1.5E+26,GLADIOLA ST,KHOMASDAL ...,COBY827,ACTIVE,WA13,0.0,0.0,0.0,60.0,16.0,12.0,7.0,0.0,0.0,0.0,0.0,0.0,95.0
159,10993150.0,070000000002620000000000000,AREBBUSCH ST,CIMBEBASIA ...,COHJ052,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,27.0
13177,10993150.0,7E+25,AREBBUSCH ST,CIMBEBASIA ...,COHJ052,ACTIVE,WA10,15.0,9.0,5.0,13.0,22.0,10.0,16.0,15.0,12.0,19.0,15.0,0.0,151.0
7101,13376853.0,190000000001720000000000000,OKARAMBA ST,WANAHEDA ...,1045796A,ACTIVE,WA12,0.0,0.0,8.0,13.0,18.0,11.0,15.0,10.0,10.0,14.0,9.0,12.0,120.0
54042,13376853.0,1.9E+26,OKARAMBA ST,WANAHEDA ...,1045796A,ACTIVE,WA10,13.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
3754,12886351.0,060000000013260000000000000,CHASIE STREET,KLEINE KUPPE ...,14376510,ACTIVE,WA20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,0.0,1.0,8.0
3704,12886351.0,060000000013260000000000000,CHASIE STREET,KLEINE KUPPE ...,14376510,ACTIVE,WAFHC,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4225,12886351.0,060000000013260000000000000,CHASIE STREET,KLEINE KUPPE ...,14787566,ACTIVE,WAFHC,0.0,1560.0,0.0,2054.0,0.0,1723.0,0.0,0.0,0.0,0.0,0.0,0.0,5337.0
4223,12886351.0,060000000013260000000000000,CHASIE STREET,KLEINE KUPPE ...,14787566,ACTIVE,WA20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1554.0,0.0,1468.0,0.0,1614.0,4636.0
47952,13435124.0,1.4E+26,TOKYO ST,OTJOMUISE ...,A0903584,ACTIVE,WA10,9.0,0.0,17.0,8.0,12.0,9.0,8.0,9.0,8.0,9.0,8.0,0.0,97.0
5213,13435124.0,140000000050590000000000000,TOKYO ST,OTJOMUISE ...,A0903584,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,8.0

In [160]:
months_12 = [
    'JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE',
    'JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBR','DECEMBER'
]

In [161]:
# Make sure columns exist and are numeric
months_12 = [c for c in months_12 if c in combined2021.columns]
combined2021[months_12] = combined2021[months_12].apply(pd.to_numeric, errors='coerce').fillna(0)

In [164]:
# Rule:
# 1️⃣ If METER_NO appears more than once with the SAME TARIFF CODE → keep first
# 2️⃣ If METER_NO appears with DIFFERENT TARIFF CODEs → sum month values
#     and keep the TARIFF CODE with the most non-zero months

In [165]:
# --- Step 1: find single- vs multi-tariff meters
tariff_counts = combined2021.groupby('METER_NO')['TARIFF CODE'].nunique()
single_meters = tariff_counts[tariff_counts == 1].index
multi_meters = tariff_counts[tariff_counts > 1].index

In [166]:
# --- Step 2: handle single-tariff meters
single_df = (combined2021[combined2021['METER_NO'].isin(single_meters)]
             .sort_values(['METER_NO'])
             .drop_duplicates(subset=['METER_NO'], keep='first'))

In [167]:
# --- Step 3: handle multi-tariff meters
multi_df = combined2021[combined2021['METER_NO'].isin(multi_meters)].copy()
multi_df['_nonzero_months'] = (multi_df[months_12].gt(0)).sum(axis=1)

In [168]:
# Count month entries per tariff
entries_per_tariff = (multi_df.groupby(['METER_NO','TARIFF CODE'])['_nonzero_months']
                      .sum().reset_index(name='month_entries'))

In [169]:
# Pick tariff with the most month entries
best_tariff = (entries_per_tariff.sort_values(['METER_NO','month_entries'], ascending=[True, False])
               .drop_duplicates(subset=['METER_NO']))

In [170]:
# Sum month totals across all rows per meter
summed = multi_df.groupby('METER_NO', as_index=False)[months_12].sum()

In [171]:
# Get one representative row from the chosen tariff per meter
rep_rows = (multi_df.merge(best_tariff[['METER_NO','TARIFF CODE']], on=['METER_NO','TARIFF CODE'])
                  .sort_values(['METER_NO'])
                  .groupby('METER_NO', as_index=False)
                  .first()[['METER_NO','ACCOUNT_NO','UNIT_NO','STAND_ADDRESS',
                            'TOWNSHIP','METER_STATUS','TARIFF CODE']])

In [172]:
# Merge summed months back in
multi_clean = rep_rows.merge(summed, on='METER_NO', how='left')
multi_clean['Total'] = multi_clean[months_12].sum(axis=1)

In [173]:
# --- Step 4: combine single + multi sets
cleaned = pd.concat([single_df, multi_clean], ignore_index=True)

In [174]:
# Recompute Total to be sure
cleaned['Total'] = cleaned[months_12].sum(axis=1)

In [175]:
# Optional flag
cleaned['MERGED_FROM_MULTI_TARIFF'] = cleaned['METER_NO'].isin(multi_meters).map({True:'Yes', False:'No'})

In [176]:
# --- Step 5: save output
output_path = r"C:/Users/PC/Documents/Water datasets/2021/combined2021_cleaned_by_rule.xlsx"
cleaned.to_excel(output_path, index=False)

In [177]:
months_12 = [
    'JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE',
    'JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBR','DECEMBER'
]

In [178]:
# ensure numeric months (zeros where not numeric)
cleaned[months_12] = cleaned[months_12].apply(pd.to_numeric, errors='coerce').fillna(0.0)

In [179]:
def backward_distribution_row(row, month_cols=months_12):
    vals = row[month_cols].astype(float).to_numpy().copy()

    # walk forward through months
    for i in range(len(vals)):
        if vals[i] > 0:
            # count consecutive zeros immediately before month i
            j = i - 1
            zeros = 0
            while j >= 0 and vals[j] == 0:
                zeros += 1
                j -= 1
            if zeros > 0:
                share = vals[i] / (zeros + 1)        # equal split over the block + this month
                for k in range(i - zeros, i + 1):    # fill the zero block and this month
                    vals[k] = share
    return pd.Series(vals, index=month_cols)

In [180]:
# Apply to all rows (or filter e.g., ACTIVE meters only)
# active_mask = cleaned['METER_STATUS'].eq('ACTIVE')
# cleaned.loc[active_mask, months_12] = cleaned.loc[active_mask].apply(backward_distribution_row, axis=1)
cleaned[months_12] = cleaned.apply(backward_distribution_row, axis=1)

In [181]:
# Recompute Total exactly from months
cleaned['Total'] = cleaned[months_12].sum(axis=1)

In [182]:
output_path = r"C:/Users/PC/Documents/Water datasets/2021/combined_backward_distributed_2021.xlsx"
cleaned.to_excel(output_path, index=False)