In [1]:
import pandas as pd
import os
import numpy as np

In [11]:
files = [
    r"C:/Users/PC/Documents/Water datasets/2022/2022 OTHERS.csv",
    r"C:/Users/PC/Documents/Water datasets/2022/2022 WA10 AND WA13.csv",
    r"C:/Users/PC/Documents/Water datasets/2022/2022 WA60-WA64.csv",
    r"C:/Users/PC/Documents/Water datasets/2022/2022 WA70.csv",
]

In [13]:
for f in files:
    print(f, "✅" if os.path.exists(f) else "❌ File not found")

C:/Users/PC/Documents/Water datasets/2022/2022 OTHERS.csv ✅
C:/Users/PC/Documents/Water datasets/2022/2022 WA10 AND WA13.csv ✅
C:/Users/PC/Documents/Water datasets/2022/2022 WA60-WA64.csv ✅
C:/Users/PC/Documents/Water datasets/2022/2022 WA70.csv ✅

In [15]:
dfs = [pd.read_csv(f) for f in files]

In [17]:
combined2022 = pd.concat(dfs, ignore_index=True)

In [19]:
combined2022.to_excel(r"C:/Users/PC/Documents/Water datasets/2022/combined2022.xlsx", sheet_name="Combined2022", index=False)

In [21]:
# Check the exact column names
print(combined2022.columns)

Index(['ACCOUNT_NO', 'ACCOUNT_NAME', 'UNIT_NO', 'STAND_ADDRESS', 'STREET_NO',
       'TOWNSHIP', 'METER_NO', 'METER_STATUS', 'TARIFF CODE', 'JANUARY',
       'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUGUST',
       'SEPTEMBER', 'OCTOBER', 'NOVEMBR', 'DECEMBER', 'Total'],
      dtype='object')

In [23]:
new_order = [
    "ACCOUNT_NO",
    "UNIT_NO",
    "STAND_ADDRESS",
    "TOWNSHIP",
    "METER_NO",
    "METER_STATUS",
    "TARIFF CODE",
    "JANUARY",
    "FEBRUARY",
    "MARCH",
    "APRIL",
    "MAY",
    "JUNE",
    "JULY",
    "AUGUST",
    "SEPTEMBER",
    "OCTOBER",
    "NOVEMBR",
    "DECEMBER",
    "Total"
]

In [25]:
# Reorder the DataFrame columns
combined2022 = combined2022[new_order]

In [27]:
# Show all duplicated meter numbers (i.e., appearing more than once)
duplicates = combined2022[combined2022.duplicated(subset=['METER_NO'], keep=False)]

In [29]:
# Sort for easier viewing
duplicates = duplicates.sort_values(by='METER_NO')

In [31]:
print(f"Total duplicated meter numbers: {duplicates['METER_NO'].nunique()}")
duplicates.head(20)

Total duplicated meter numbers: 279

,ACCOUNT_NO,UNIT_NO,STAND_ADDRESS,TOWNSHIP,METER_NO,METER_STATUS,TARIFF CODE,JANUARY,FEBRUARY,MARCH,APRIL,MAY,JUNE,JULY,AUGUST,SEPTEMBER,OCTOBER,NOVEMBR,DECEMBER,Total
611,12612677.0,1.00E+25,PULLMAN ST,WINDHOEK/WINDHOEK BLOCKS,CMII192,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,22.0,19.0,17.0,85.0
49946,12612677.0,1.00E+25,PULLMAN ST,WINDHOEK/WINDHOEK BLOCKS,CMII192,ACTIVE,WA10,0.0,95.0,82.0,0.0,33.0,19.0,0.0,21.0,0.0,0.0,0.0,0.0,250.0
1012,10204792.0,1.00E+25,TV MORE STREET,WINDHOEK/WINDHOEK BLOCKS,CMII264,ACTIVE,WA12,5.0,13.0,12.0,0.0,0.0,27.0,21.0,10.0,15.0,17.0,14.0,12.0,146.0
1013,10204792.0,1.00E+25,TV MORE STREET,WINDHOEK/WINDHOEK BLOCKS,CMII264,INACTIVE,WA12,5.0,13.0,12.0,0.0,0.0,27.0,21.0,10.0,15.0,17.0,14.0,12.0,146.0
14620,10927867.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIA514,ACTIVE,WA10,0.0,3.0,2.0,2.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,12.0
172,10927867.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIA514,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,5.0
27776,10890866.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIA517,ACTIVE,WA10,0.0,22.0,11.0,19.0,0.0,18.0,16.0,12.0,0.0,0.0,0.0,0.0,98.0
321,10890866.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIA517,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,11.0,8.0,6.0,34.0
19732,12637521.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIA518,ACTIVE,WA10,0.0,13.0,7.0,11.0,0.0,7.0,8.0,8.0,0.0,0.0,0.0,0.0,54.0
246,12637521.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIA518,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,6.0,6.0,3.0,20.0
3808,13801856.0,2.60E+26,INDEPENDENCE AVE,KATUTURA,CNID276,ACTIVE,WA20,0.0,0.0,0.0,4.0,0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,18.0
23544,13801856.0,2.60E+26,INDEPENDENCE AVE,KATUTURA,CNID276,ACTIVE,WA10,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,18.0,10.0,16.0,13.0,76.0
31203,11002026.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIG444,ACTIVE,WA10,0.0,36.0,13.0,19.0,0.0,18.0,24.0,6.0,0.0,0.0,0.0,0.0,116.0
480,11002026.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIG444,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,21.0,18.0,12.0,62.0
44742,10680667.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIG446,ACTIVE,WA10,0.0,30.0,23.0,37.0,0.0,37.0,47.0,27.0,0.0,0.0,0.0,0.0,201.0
812,10680667.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIG446,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0,34.0,31.0,24.0,115.0
27591,12668087.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIG448,ACTIVE,WA10,0.0,23.0,12.0,18.0,0.0,12.0,20.0,12.0,0.0,0.0,0.0,0.0,97.0
280,12668087.0,3.00E+25,BC BARNES ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIG448,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,8.0,7.0,6.0,28.0
277,12517917.0,3.00E+25,EBONY ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIJ620,ACTIVE,WA12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,7.0,6.0,7.0,27.0
16724,12517917.0,3.00E+25,EBONY ST,KLEIN WINDHOEK/KLEIN WINDHOEK BLOCKS/LUDWIGSDORF,CNIJ620,ACTIVE,WA10,0.0,0.0,23.0,4.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,33.0

In [33]:
months_12 = [
    'JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE',
    'JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBR','DECEMBER'
]

In [35]:
# Make sure columns exist and are numeric
months_12 = [c for c in months_12 if c in combined2022.columns]
combined2022[months_12] = combined2022[months_12].apply(pd.to_numeric, errors='coerce').fillna(0)

In [37]:
# Rule:
# 1️⃣ If METER_NO appears more than once with the SAME TARIFF CODE → keep first
# 2️⃣ If METER_NO appears with DIFFERENT TARIFF CODEs → sum month values
#     and keep the TARIFF CODE with the most non-zero months

In [39]:
# --- Step 1: find single- vs multi-tariff meters
tariff_counts = combined2022.groupby('METER_NO')['TARIFF CODE'].nunique()
single_meters = tariff_counts[tariff_counts == 1].index
multi_meters = tariff_counts[tariff_counts > 1].index

In [41]:
# --- Step 2: handle single-tariff meters
single_df = (combined2022[combined2022['METER_NO'].isin(single_meters)]
             .sort_values(['METER_NO'])
             .drop_duplicates(subset=['METER_NO'], keep='first'))

In [43]:
# --- Step 3: handle multi-tariff meters
multi_df = combined2022[combined2022['METER_NO'].isin(multi_meters)].copy()
multi_df['_nonzero_months'] = (multi_df[months_12].gt(0)).sum(axis=1)

In [45]:
# Count month entries per tariff
entries_per_tariff = (multi_df.groupby(['METER_NO','TARIFF CODE'])['_nonzero_months']
                      .sum().reset_index(name='month_entries'))

In [47]:
# Pick tariff with the most month entries
best_tariff = (entries_per_tariff.sort_values(['METER_NO','month_entries'], ascending=[True, False])
               .drop_duplicates(subset=['METER_NO']))

In [49]:
# Sum month totals across all rows per meter
summed = multi_df.groupby('METER_NO', as_index=False)[months_12].sum()

In [51]:
# Get one representative row from the chosen tariff per meter
rep_rows = (multi_df.merge(best_tariff[['METER_NO','TARIFF CODE']], on=['METER_NO','TARIFF CODE'])
                  .sort_values(['METER_NO'])
                  .groupby('METER_NO', as_index=False)
                  .first()[['METER_NO','ACCOUNT_NO','UNIT_NO','STAND_ADDRESS',
                            'TOWNSHIP','METER_STATUS','TARIFF CODE']])

In [53]:
# Merge summed months back in
multi_clean = rep_rows.merge(summed, on='METER_NO', how='left')
multi_clean['Total'] = multi_clean[months_12].sum(axis=1)

In [55]:
# --- Step 4: combine single + multi sets
cleaned = pd.concat([single_df, multi_clean], ignore_index=True)

In [57]:
# Recompute Total to be sure
cleaned['Total'] = cleaned[months_12].sum(axis=1)

In [59]:
# Optional flag
cleaned['MERGED_FROM_MULTI_TARIFF'] = cleaned['METER_NO'].isin(multi_meters).map({True:'Yes', False:'No'})

In [61]:
# --- Step 5: save output
output_path = r"C:/Users/PC/Documents/Water datasets/2022/combined2022_cleaned_by_rule.xlsx"
cleaned.to_excel(output_path, index=False)

In [63]:
months_12 = [
    'JANUARY','FEBRUARY','MARCH','APRIL','MAY','JUNE',
    'JULY','AUGUST','SEPTEMBER','OCTOBER','NOVEMBR','DECEMBER'
]

In [65]:
# ensure numeric months (zeros where not numeric)
cleaned[months_12] = cleaned[months_12].apply(pd.to_numeric, errors='coerce').fillna(0.0)

In [66]:
def backward_distribution_row(row, month_cols=months_12):
    vals = row[month_cols].astype(float).to_numpy().copy()

    # walk forward through months
    for i in range(len(vals)):
        if vals[i] > 0:
            # count consecutive zeros immediately before month i
            j = i - 1
            zeros = 0
            while j >= 0 and vals[j] == 0:
                zeros += 1
                j -= 1
            if zeros > 0:
                share = vals[i] / (zeros + 1)        # equal split over the block + this month
                for k in range(i - zeros, i + 1):    # fill the zero block and this month
                    vals[k] = share
    return pd.Series(vals, index=month_cols)

In [67]:
# Apply to all rows (or filter e.g., ACTIVE meters only)
# active_mask = cleaned['METER_STATUS'].eq('ACTIVE')
# cleaned.loc[active_mask, months_12] = cleaned.loc[active_mask].apply(backward_distribution_row, axis=1)
cleaned[months_12] = cleaned.apply(backward_distribution_row, axis=1)

In [70]:
# Recompute Total exactly from months
cleaned['Total'] = cleaned[months_12].sum(axis=1)

In [71]:
output_path = r"C:/Users/PC/Documents/Water datasets/2022/combined_backward_distributed_2022.xlsx"
cleaned.to_excel(output_path, index=False)